@import "bootstrap/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro|Yanone+Kaffeesatz");

// variables

$background_color: #FFFFFF;
$text_color: #221144;
$header_color: #EEEEEE;
$footer_color: #EEEEEE;

// mixins

// global styles

a {
  border: none;
  border-bottom: dotted thin;
  color: $text_color;
  text-decoration: none;

  &:focus,
  &:hover {
    border-bottom: solid thin;
    border: none;
    color: $text_color;
    text-decoration: none;
  }
}

blockquote {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
}

// structured styles

body { @extend .container-fluid;
  background-color: $background_color;
  font-family: "Source Serif Pro", serif;
  font-size: 20px;
  padding: 0;

  > header {
    border-bottom: 2px solid #DDDDDD;
    text-align: center;

    > h1 {
      font-size: 48px;
    }

    > p {
      font-style: italic;
    }
  }

  > footer {
    border-top: 2px solid #DDDDDD;
    bottom: 0;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 16px;
    left: 0;
    padding: 6px 0 2px;
    position: absolute;
    right: 0;
    text-align: center;
  }
}

main {
  margin: 2em auto 6em;
  width: 720px;
}


.navbar {
  padding: 0 16px;
}

.navbar-brand {
  border-bottom: none;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 3em;
  padding: 2px 0 0;
  position: relative;
  > img {
    // position: absolute;
    // top: 16px;
    // left: -113px;
  }

  &:focus,
  &:hover {
    text-decoration: none;
    border: none;
    border-bottom: none;
  }
}


.index-date {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.index-title {
  font-family: "Source Sans Pro", sans-serif;
}


.black {
  color: rgb(0, 0, 0);
}

.blue {
  color: rgb(0, 25, 181);
}

.dark-gray {
  color: rgb(128, 128, 128);
}

.light-gray {
  color: rgb(171, 171, 171);
}
