#main
{
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
}

.header
{
    position: relative;
    height: 115px;
    margin-bottom: 0;
    background: #EDEDED;
    background: -moz-linear-gradient(top, #FBFBFB, #DDDDDD);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBFBFB), to(#DDDDDD));
}

.logo
{
    padding-top: 22px;
    font-family: "ligurino-condensed-1",  "ligurino-condensed-2", sans-serif;
    font-size: 3em;
}

.linkbar
{
    position: absolute;
    bottom: 0;
    font-family: "ligurino-condensed-1",  "ligurino-condensed-2", sans-serif;
    font-size: 1.1em;
}

.linkbar ul
{
    list-style: none;
    background: #888888;
    background: -moz-linear-gradient(top, #888888, #CCCCCC);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888888), to(#CCCCCC));
    color: rgb(255, 255, 255);
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.linkbar ul li
{
    display: inline-block;
/*    height: 1em;*/
    margin: 0;
    padding: 0.4em 1em;
}

.header a
{
    color: rgb(255, 255, 255);
}

.footer
{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-bottom: 1em;
}

.fineprint
{
    font-family: "ligurino-condensed-1",  "ligurino-condensed-2", sans-serif;
    font-size: 11pt;
}

.posts ul
{
    position: relative;
    list-style: none;
}

.post
{
    position: relative;
}

.column
{
    margin: 0 165px;
    padding: 0 15px;
    max-width: 50em;
}

ul.metadata
{
    margin-top: 1em;
    font-family: "ligurino-condensed-1",  "ligurino-condensed-2", sans-serif;
    font-size: 11pt;
    font-style: italic;
    list-style: none;
    
}

.post-date
{
    display: inline-block;
    position: absolute;
    left: 0;
    width: 150px;
    margin-top: 0.9em;
    margin-left: -165px;
    font-family: "ligurino-condensed-1",  "ligurino-condensed-2", sans-serif;
    text-align: right;
}

li div.post-date
{
    margin-top: 0;
}

.post-title
{
    display: inline-block;
    margin-left: 0px;
}

.black
{
    color: rgb(0, 0, 0);
}

.blue
{
    color: rgb(0, 25, 181);
}

.dark-gray
{
    color: rgb(128, 128, 128);
}

.light-gray
{
    color: rgb(171, 171, 171);
}

body
{
    height: 100%;
    background: rgb(255, 255, 255) none;
    color: rgb(0, 0, 0);
    font: normal normal normal 13pt/normal Helvetica, Arial, sans-serif;
}

body *
{
    line-height: 1.2em;
}

p
{
    margin-top: 0.8em;
}

h1
{
    margin: 0.5em 0 0.3em;
    font-family: "ligurino-condensed-1",  "ligurino-condensed-2", sans-serif;
    font-size: 2em;
}

h2
{
    font-family: "ligurino-condensed-1",  "ligurino-condensed-2", sans-serif;
}

a
{
    color: rgb(65, 131, 196);
    text-decoration: none;
}

*
{
    margin: 0;
    padding: 0;
}
