#main
{
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
}

.column
{
    margin: 0 165px;
    padding: 0 15px;
    max-width: 50em;
}

.content
{
    padding-top: 7.5em;
    padding-bottom: 3em;
}

.fineprint
{
    font-family: "ligurino-condensed-1",  "ligurino-condensed-2", sans-serif;
    font-size: 11pt;
}

.footer
{
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    padding: 0.5em 0;
    background: rgb(237, 237, 237) none;
    background: -moz-linear-gradient(top, #DDDDDD, #FBFBFB);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDDDDD), to(#FBFBFB));
}

.footnotes
{
    padding: 2em 0;
    font-size: 0.7em;
}

.header
{
    position: fixed;
    top: 0;
    z-index: 10;
    height: 7em;
    width: 100%;
    margin-bottom: 0;
    background: rgb(237, 237, 237) none;
    background: -moz-linear-gradient(top, #FBFBFB, #DDDDDD);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FBFBFB), to(#DDDDDD));
}

.header a
{
    color: rgb(255, 255, 255);
}

.highlight
{
    margin-top: 0.8em;
    padding: 0.5em;
    border: 1px black solid;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.linkbar
{
    position: absolute;
    bottom: -0.85em;
    height: 1.9em;
    background: rgb(136, 136, 136) none;
    background: -moz-linear-gradient(top, #888888, #CCCCCC);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888888), to(#CCCCCC));
    color: rgb(255, 255, 255);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: "ligurino-condensed-1",  "ligurino-condensed-2", sans-serif;
    font-size: 1.1em;
}

.linkbar ul
{
    list-style: none;
}

.linkbar ul li
{
    display: inline-block;
    margin: 0;
    padding: 0.4em 1em;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.logo
{
    padding-top: 22px;
    font-family: "ligurino-condensed-1",  "ligurino-condensed-2", sans-serif;
    font-size: 3em;
}

.metadata
{
    margin-top: 1em;
    font-family: "ligurino-condensed-1",  "ligurino-condensed-2", sans-serif;
    font-size: 11pt;
    font-style: italic;
    list-style: none;
}

.post
{
    position: relative;
}

.post-date
{
    display: inline-block;
    position: absolute;
    left: 0;
    width: 150px;
    margin-top: 0.9em;
    margin-left: -165px;
    font-family: "ligurino-condensed-1",  "ligurino-condensed-2", sans-serif;
    text-align: right;
}

.post-title
{
    display: inline-block;
    margin-left: 0px;
}

.posts ul
{
    position: relative;
    list-style: none;
}

li div.post-date
{
    margin-top: 0;
}

.black
{
    color: rgb(0, 0, 0);
}

.blue
{
    color: rgb(0, 25, 181);
}

.dark-gray
{
    color: rgb(128, 128, 128);
}

.light-gray
{
    color: rgb(171, 171, 171);
}

*
{
    margin: 0;
    padding: 0;
}

a
{
    color: rgb(65, 131, 196);
    text-decoration: none;
}

body
{
    height: 100%;
    background: rgb(255, 255, 255) none;
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13pt;
}

body *
{
    line-height: 1.2em;
}

code
{
    font-family: "anonymous-pro-1", "anonymous-pro-2", monospace;
}

h1
{
    margin: 0.5em 0 0.3em;
    font-family: "ligurino-condensed-1",  "ligurino-condensed-2", sans-serif;
    font-size: 2em;
}

h2
{
    margin: 0.5em 0 0.3em;
    font-family: "ligurino-condensed-1",  "ligurino-condensed-2", sans-serif;
    font-size: 1.5em;
}

p
{
    margin-top: 0.8em;
}
