<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% if page.title != '' %}
    <title>{{ page.title }} - craigcottingham.github.com</title>
    {% else %}
    <title>craigcottingham.github.com</title>
    {% endif %}
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
    <script src="http://www.google.com/jsapi" type="text/javascript" />
  </head>
  <body>
    <div id="main">
      <div id="header">
        <div class="column">
          <div class="logo">
            <a href="http://github.com/CraigCottingham/"><img src="/images/logo.png" alt="github/CraigCottingham" /></a>
          </div>
        </div>
      </div>
      <div id="content">
        <div class="column">
          {{ content }}
        </div>
      </div>
      <div id="footer">
        <div class="column">
          <div id="info">
            <div id="links">
            </div>
            <div id="fineprint">
              &copy; 2010 Craig S. Cottingham. All rights reserved.
              Hosted at <a href="http://github.com/">Github</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
