<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    {% if page.title != '' %}
    <title>{{ page.title }} - craigcottingham.github.com</title>
    {% else %}
    <title>craigcottingham.github.com</title>
    {% endif %}
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
    <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="RSS feed for craigcottingham.github.com" />
    <script type="text/javascript" src="http://use.typekit.com/dvb2nak.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script type="text/javascript" src="/scripts/Hyphenator.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script type="text/javascript">
var setTextMeasure = function (contentElement, targetMeasure, maxSize, minSize) {

  if (!contentElement) contentElement = $(document.createElement('p'));
  if (!targetMeasure) targetMeasure = 66;
  if (!maxSize) maxSize = 16;
  if (!minSize) minSize = 9;

  var body = $('body');
  var sizer = contentElement.clone();

  sizer.css({'margin': 0, 'padding': 0, 'color': 'transparent', 'backgroundColor': 'transparent', 'position': 'absolute'});

  var letters = 'aaaaaaaabbcccddddeeeeeeeeeeeeeffgghhhhhhiiiiiiijkllllmmnnnnnnnooooooooppqrrrrrrsssssstttttttttuuuvwxyyz';
  sizer.text(letters);

  body.append(sizer);
  var characterWidth = sizer.width() / letters.length;
  sizer.remove();

  var contentWidth = contentElement.width();

  var measuredFontSize = parseFloat( body.css('font-size').replace('px', '') );

  var actualMeasure = contentWidth / characterWidth;
  var newMeasure = measuredFontSize * actualMeasure / targetMeasure;

  if (newMeasure > maxSize) newMeasure = maxSize;
  if (newMeasure < minSize) newMeasure = minSize;

  body.css('font-size', newMeasure + "px");
}
    </script>
  </head>
  <body>
    <div id="main">
      <div class="header">
        <div class="column">
          <div class="logo">
            <a href="/">
              <span class="light-gray">this</span><span class="dark-gray">is</span><span class="black">github.com/</span><span class="blue">CraigCottingham</span>
              <img src="/images/avatar.png" />
            </a>
          </div>
          <div class="linkbar">
            <ul>
              <li><a href="/">home</a></li>
              <li><a href="http://github.com/CraigCottingham/">github</a></li>
              <li><a href="/metrics.html">metrics</a></li>
              <li><a href="http://twitter.com/CraigCottingham">twitter</a></li>
              <li><a href="mailto:craig.cottingham@gmail.com">email</a></li>
              <li><a href="/tags.html">tags</a></li>
              <li><a href="/about.html">about</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="column hyphenate" id="main-content">
          {{ content }}
        </div>
      </div>
      <div class="footer">
        <div class="column">
          <div class="info">
            <div class="links">
            </div>
            <div class="fineprint">
              &copy; 2010-2011 Craig S. Cottingham. All rights reserved.
              Hosted at <a href="http://github.com/">Github</a>.
              Powered by <a href="https://github.com/mojombo/jekyll/">Jekyll</a>.
            </div>
            <div class="tweetthis"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="CraigCottingham">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>
            <div class="plusone"><g:plusone size="medium" count="false"></g:plusone></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <script type="text/javascript">
$(document).ready(function() {
  setTextMeasure($("#main-content"));
  Hyphenator.run();
});
  </script>
</html>
