---
layout: default
---
<div class="post">
  <div class="post-date">{{ page.date | date: "%Y-%m-%d" }}</div>
  {{ content }}
  <ul class="metadata">
    <li><strong>posted:</strong> {{ page.date }}</li>
    <li><strong>tags:</strong> {{ page.tags | join " " }}</li>
  </ul>
</div>
{% if !site.related_posts.empty? %}
<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <div class="post-date">{{ post.date | date_to_string }}</div>
        <div class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></div>
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
